/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';

body { 
    padding: 0; 
    margin: 0; 
    font-family: Roboto, sans-serif; 
    
  }